.nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-brand {
  /* color: white !important; */
  font-size: 30px !important;
}

.nav-link span{
  /* color:white; */
  position: relative;
  font-size: 19px;
}
.nav-link  span::after {
  content: '';
  position: relative;
  display: block;
  height: 3px;
  width: 0;
  background: rgb(209, 94, 48);
  bottom: 1px;
  left: 0;
  transition: all 0.3s ease-out 0s;
}


.nav-link span:hover::after {
  width: 100%
}

.navbar_hamburger {
  position: relative;
  width: 50px;
  
}


.navbar_hamburger:before,
.navbar_hamburger:after,
.navbar_hamburger div {
  background:black;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.navbar_hamburger:active:before {
  transform: translateY(12px) rotate(135deg);
}
.navbar_hamburger:active:after {
  transform: translateY(-12px) rotate(-135deg);
}
.navbar_hamburger:active div {
  transform: scale(0);
}

